body { 
    background: url("../images/Battle-in-Star-Wars-Wallpaper-HD.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* margin: auto;  */
    margin-left: 15px;
    margin-top: -15px;
    color: white;
 }
.my-header {
    font-family: 'Archivo', sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    width: 100%; 
    height: auto; 
    color: rgb(116, 2, 78);
    background-color: rgb(151, 206, 238); 
    border: 5px solid rgba(255, 208, 0, 0.883);
}
.character-images {
    height: 100px;
    border: 2px solid black;
}

.character-images-enemies {
    height: 100px;
    border: 2px solid black;
}
.character-images-defender {
    height: 100px;
    border: 2px solid black;
}

.my-characters-row {
    margin-top: 20px;
}
.my-selected-character-row {
    width: 170px;
    margin-bottom: -20px;
    margin-left: -30px;
}
.my-selected-character-row-heading {
    margin-top: -15px;
    margin-left: -15px;
    margin-bottom: -15px;
}
.my-enemies-row-heading {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: -15px;
    margin-top: 10px;
}
.my-enemies-row {
    margin-top: 0px;
    align-items: left;
    align-content: left;
    width: 100%;
 }
.my-characters-row-heading {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
.image-container {
    padding: 0px 0px 20px 0px;
    border: 2px solid black;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 150px;
    width: 120px;
    font-size: 12px;
    background-color: white;
}
.image-container-your-character {
    padding: 0px 0px 20px 0px;
    border: 2px solid green;
    text-align: center;
    margin-left: -15px;
    margin-right: 5px;
    height: 150px;
    width: 120px;
    font-size: 12px;
    background-color: white;
}
.image-container-enemies {
    /* padding: 20px 0px 20px 0px; */
    padding: 0px 0px 20px 0px;
    border: 2px solid black;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 150px;
    width: 120px;
    font-size: 12px;
    background-color: red;
}
.image-container-defender {
    padding: 0px 0px 20px 0px;
    border: 2px solid black;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 150px;
    width: 120px;
    font-size: 12px;
    background-color: black;
}
.image-label {
    padding-top: -50px;
    font-size: 10px;
}

.fight-section {
    margin-top: 20px;
    margin-left: -15px;
}
.fight-status {
    font-size: 12px;
    color: white;
    margin-top: 5px;
}
.defender {
    margin-top: 20px;
    margin-left: -15px;
    text-align: left;
}
#selected-character {
    align-items: left;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: -25px;
}

#enemies-to-attack {
    align-items: left;
    justify-content: left;
}

#character-names-label {
    color:black;
    font-size: 14px;
    top:-10px;  
}
#character-names-defender-label {
    color:white;
    font-size: 14px;
    top:-10px;  
}
#health-points {
    color: black;
    font-size: 14px;
    top:-10px;
}
#health-points-defender {
    color: white;
    font-size: 14px;
    top:-10px;
}
#attack-btn {
    margin-top: -10px;
}
#restart-btn {
    margin-top: 10px;
}


