.player-images {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
.column {
    float: left;
    width: 16.6%;
    padding: 10px;
    margin: auto;
    border: 2px solid red;
}
.my-row {
    margin-top: 20px;
    /* margin: auto; */
    /* border: 5px solid blue; */
}

.my-header {
    font-family: 'Archivo', sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 59%; 
    height: auto; 
    color: rgb(253, 240, 53);
    background-color: rgb(82, 205, 236); 
    border: 5px solid yellow;
}
#current-word {
background-color: lightyellow;
}

#letters-guessed {
background-color:lightgreen;

}
#current-city {
margin-right: 10px;
margin-left: 10px;
}
#my-user-alert-button {
/* align-self: right; */
margin: auto;
}
#city-picture-hint {
    margin: 20px;
    font-size: 20pt;
    font-weight: bold;
    color: red;
    text-align: center;
}
#city-picture-hint-text {
    font-weight: normal;
    color: black;
}
